NODE_ENV=development
PORT=5000
MONGO_URI=mongodb://localhost:27017/jitendra_electronics
JWT_SECRET=your_jwt_secret_key_here
JWT_EXPIRE=30d
FRONTEND_URL=https://3ro23r9.netlify.app
EMAILJS_SERVICE_ID=your_emailjs_service_id
EMAILJS_TEMPLATE_ID=your_emailjs_template_id
EMAILJS_USER_ID=your_emailjs_user_id
